@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.latest-news-w{
    background-color: aqua;
    background-color: $secondaryBack;
    padding: 15px 2px;
    border-radius: 5px;
    .latest-news-header{
        @include my-flex(flex-start, row, center);
        padding: 0 10px 15px;
        .news-header-dot{
            height: 18px;
            width: 18px;
            background-color: $primaryIconColor;
            border-radius: 50%;
            animation: pulses 1.5s infinite linear;
            @keyframes pulses {
                0% {
                    transform: scale(0.15);
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    transform: scale(1);
                    opacity: 0;
                }
            }
        }
        .news-header-title{
            margin: 0 10px;
        }
    }
    .latest-news-content{
        min-height: 180px;
        max-height: 529px;
        overflow-y: scroll;
        padding: 0 10px;
        .content-card{
            padding: 10px 0;
            border-bottom: 1px solid #97979741;
            .content-card-time{
                color: $secondaryFontColor;
                font-size: 10px;
                font-weight: 600;
            }
            .content-card-title{
                font-weight: 500;
                font-size: 16px;
                margin: 5px 0;
            }
        }
    }
    .latest-news-footer{
        padding: 15px 10px 0;
        color: $secondaryFontColor;
        font-weight: 500;
        cursor: pointer;
    }
}