@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.latest-news-w{
    background-color: aqua;
    background-color: $secondaryBack;
    padding: 15px 2px 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: $transition;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 10px 3px 8px;
    }
    .latest-news-header{
        @include my-flex(flex-start, row, center);
        padding: 0 10px 15px;
        box-shadow: 0 4px 5px -2px gray;
        .news-header-dot{
            height: 18px;
            width: 18px;
            background-color: $primaryIconColor;
            border-radius: 50%;
            animation: pulses 1.5s infinite linear;
            @keyframes pulses {
                0% {
                    transform: scale(0.15);
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    transform: scale(1);
                    opacity: 0;
                }
            }
        }
        .news-header-title{
            margin: 0 10px;
        }
    }
    .latest-news-content{
        min-height: 180px;
        max-height: 529px;
        overflow-y: scroll;
        padding: 0 5px;
        .content-card{
            padding: 10px 5px;
            border-bottom: 1px solid #97979741;
            cursor: pointer;
            transition: $transition;
            &:hover{
                background-color: $primaryBack;
            }
            .content-card-time{
                color: $secondaryFontColor;
                font-size: 10px;
                font-weight: 600;
            }
            .content-card-title{
                font-weight: 500;
                font-size: 16px;
                margin: 5px 0;
            }
        }
    }
    .latest-news-footer{
        color: $secondaryFontColor;
        font-weight: 500;
        cursor: pointer;
        .footer-btn{
            @include my-flex(flex-start, row, center);
            padding: 10px;
            transition: $transition;
            .fotter-arrow{
                color: $primaryFontColor;
                margin: 0 5px;
            }
            &:hover{
                transform: scale(1.02);
            }
        }
    }
}