@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.home-w{
    @include my-container;
    .home-content{
        margin: 20px 0;
        @include my-flex(space-between, row, normal);
        gap: 15px;
        flex-wrap: nowrap;
        .home-sidebar{
            @include my-flex(flex-start, column, normal);
        }
        .home-main{
            flex: auto;
            .main-content-title{
                margin-bottom: 10px;
                text-transform: capitalize;
            }
            .main-content-cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                .content-latest{
                    grid-row: span 2;
                }
            }
            .home-top-nav{
                display: none;
                margin-bottom: 15px;
                .top-nav-btn{
                    font-size: 16px;
                    font-weight: 600;
                    color: $primaryFontColor;
                    margin: 0 10px;
                    &.active{
                        color: $primaryIconColor;
                        background-color: rgba(187, 30, 30, 0.1);
                        padding: 10px 16px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@include my-responsive(small){
    .home-w{
        width: 90%;
        .home-content{
            margin: 0px;
            .home-sidebar{
                display: none;
            }
            .home-main{
                .main-content-title{
                    display: none;
                }
                .main-content-cards{
                    grid-template-columns: repeat(1, 1fr);
                    .content-latest{
                        display: none;
                    }
                }
                .home-top-nav{
                    @include my-flex(center, row, center);
                }
            }
        }
    }
}