@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.header-w{
    padding: 30px;
    @include my-flex(flex-start, row, center);
    border-bottom: 1px solid #97979741;
} 

@media screen and (max-width: 576px){
    .header-w{
        padding: 10px 0px;
        @include my-flex(flex-start, column, normal);
        border: none;
    }
}