@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.header-w{
    padding: 30px;
    @include my-flex(flex-start, row, center);
    border-bottom: 1px solid #97979741;
} 

@include my-responsive(small){
    .header-w{
        padding: 5px 0px;
        @include my-flex(flex-start, column, normal);
        border: none;
    }
}

@include my-responsive(medium){
    .header-w{
        padding: 15px 0px;
        @include my-flex(center, column, center);
        gap: 20px;
        border: none;
    }
}

@include my-responsive(large){
    .header-w{
        padding: 15px 0px;
        @include my-flex(center, column, center);
        gap: 20px;
        border: none;
    }
}