@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.search-w{
    max-width: 725px;
    width: 100%;
    border-radius: 10px;
    background-color: $secondaryBack;
    padding: 5px;
    margin: 0 15px;
    @include my-flex(space-between, row, center);
    .search-icon-input{
        @include my-flex(flex-start, row, center);
        flex: 1;
        .search-icon{
            margin-left: 15px;
            color: $secondaryIconColor;
            font-size: 20px;
        }
        .search-input{
            border: none;
            flex: 1;
            margin: 0 15px;
            font-size: 15px;
            outline: none;
            &::placeholder{
                color: $secondaryIconColor;
            }
            &:focus{
                border: none;
            }
        }
    }
    .search-button{
        @include my-button($primaryIconColor, $secondaryBack);
    }
}

@media screen and (max-width: 576px){
    .search-w{
        width: 100%;
        min-height: 48px;
        padding: 0;
        margin: 15px 0;
        .search-icon-input{
            @include my-flex(flex-start, row, center);
            .search-icon{
                margin-left: 15px;
                font-size: 15px;
            }
        }
        .search-button{
            display: none;
        }
    }
}