@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.card-news-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: $transition;
    height: 325px;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 10px 3px 8px;
        .box-image{
            filter: brightness(100%);
        }
    }
    .box-image{
        height: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px 5px 0 0;
        text-align: right;
        filter: brightness(80%);
        transition: $transition;
        @include my-flex(space-between, row, normal);
        .ad-holdere{
            @include my-flex(center, column, center);
            height: 25px;
            width: 25px;
            border-radius: 4px;
            font-size: 10px;
            background-color: red;
            padding: 4px 5px;
            font-weight: 700;
            color: $secondaryBack;
            margin: 15px 15px;
        }
        .favorite-holder{
            @include my-flex(center, column, center);
            height: 30px;
            width: 30px;
            border-radius: 4px;
            background-color: $secondaryBack;
            padding: 1px;
            font-weight: 700;
            color: red;
            margin: 15px 15px;
            .heart{
                transition: $transition;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        .remove-favorite{
            background-color: white;
            height: 40px;
            width: 40px;
            padding: 10px;
            &:hover{
                color: gray;
            }
        }
    }
    .box-info{
        height: 40%;
        @include my-flex(space-between, column, normal);
        flex-wrap: nowrap;
        background-color: $secondaryBack;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        .info-top{
            .info-top-cat{
                text-transform: uppercase;
                color: $secondaryFontColor;
                font-size: 10px;
                font-weight: 600;
            }
            .info-top-title{
                font-weight: 500;
                font-size: 16px;
                margin: 10px 0;
            }
        }
        .box-info-publisher{
            font-size: 12px;
        }
    }
    .news-breaking{
        height: 100%;
        background-color: #1D1D1B;
        border-radius: 5px;
        color: $secondaryBack;
        text-align: center;
        padding: 10px 20px;
        @include my-flex(center, column, center);
        .breaking-badge{
            text-transform: uppercase;
            background-color: $primaryIconColor;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 700;
        }
        .breaking-title{
            text-transform: capitalize;
            margin: 10px 0;
        }
        .breaking-publisher{
            text-transform: capitalize;
        }
    }
}

@include my-responsive(small){
    .card-news-box{
        .box-image{
            filter: brightness(100%);
        }
    }
}