@import '../../Assets/Scss/variables.scss';
@import '../../Assets/Scss/mixins.scss';

.card-news-box{
    min-width: 320px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: $transition;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 10px 3px 8px;
    }
    .box-image{
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px 5px 0 0;
        text-align: right;
        @include my-flex(flex-end, row, normal);
        .image-star-holder{
            background-color: $primaryIconColor;
            height: 40px;
            width: 40px;
            border-radius: 0 5px 0 5px;
            @include my-flex(center, column, center);
            box-shadow: -1px 1px 1px 1px white;
            .image-star{
                font-size: 1.2rem;
                color: yellow;
                cursor: pointer;
            }
        }
    }
    .box-info{
        min-height: 140px;
        @include my-flex(space-between, column, normal);
        background-color: $secondaryBack;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        .info-top{
            .info-top-cat{
                text-transform: uppercase;
                color: $secondaryFontColor;
                font-size: 10px;
                font-weight: 600;
            }
            .info-top-title{
                font-weight: 500;
                font-size: 16px;
                margin: 10px 0;
            }
        }
        .box-info-publisher{
            font-size: 12px;
        }
    }
    .news-breaking{
        min-width: 320px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.603);
        border-radius: 5px;
        color: $secondaryBack;
        text-align: center;
        padding: 10px 20px;
        @include my-flex(center, column, center);
        .breaking-badge{
            text-transform: uppercase;
            background-color: $primaryIconColor;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 700;
        }
        .breaking-title{
            text-transform: capitalize;
            margin: 10px 0;
        }
        .breaking-publisher{
            text-transform: capitalize;
        }
    }
}